body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 90vh;
}

.calculator-container {
    background-color: white;
    height: 500px;
    width: 500px;
}

button {
    border-radius: 50%;
}